dist/
resources/
build/
_build/
_static/
.~*
.vscode/
generated/
source/V3_Appendix/*intraoral_views.rst
source/V3_Appendix/*extraoral_views.rst
source/images/
.DS_Store
*.pyc
views.db
_VERSION
Pipfile
Pipfile.lock
*.log