[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
sphinx = "*"
docxbuilder = "*"
sphinx-book-theme = "*"
pynetdicom = "*"
dicom4ortho = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
